* {
  font-family: arial,sans-serif;;
  font-size: 18px;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;  
}

.calc {
  max-width: 300px;  
  background-color: white;
}

.numbers{
  background-color: #F1F3F4;
}

.operatores {
  background-color: #DADCE0;
}

.numbers:hover,
.operatores:hover {
  border: 1px solid gray;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

button {
  border: 1px solid transparent;
  margin: 6px 3px;
}

#display {  
  border: 1px solid #0D6EFD;  
  font-size: 1.3em;
  margin: 0 3px;
}

.equals{
  color: white;
  background-color: #0D6EFD;
  font-weight: 550;
}

.equals:hover{
  background-color: #0B5ED7;
}



