@font-face {
  font-family: roboto;
  src: url(../resources/roboto-regular-webfont.woff2);
}

@font-face {
  font-family: roboto-bold;
  src: url(../resources/roboto-bold-webfont.woff2);
}

* {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

.calc {
  max-width: 300px;
}

.numbers{
  background-color: #F1F3F4;
}

.operatores {
  background-color: #DADCE0;
}

.numbers:hover {
  border: 2px solid gray;
  
}

button {
  margin: 6px 3px;
}

#display {
  border: 1px solid gray;
}



